@charset "UTF-8";

.script-wrap {width:600px;height:300px;border:1px solid #ccc;background:#f9f9f9;margin:100px auto;}
.script-wrap .btn-add-1 {outline:0;display:block;height:60px;padding:0 30px;background:#999;color:#fff;font-size:20px;margin:50px auto;cursor:pointer;border:0;}
.script-wrap .btn-add-1:hover {background:#000;transition:all 0.3s;}
.script-wrap .btn-add-1:active {background:#d55;outline:0;}
.script-wrap .output-1 {width:346px;line-height:80px;font-size:50px;color:#000;border:1px solid #ddd;background:#fff;text-align:center;margin:0 auto;}